'.kobble-webview':
  'delete': 'native!'
  'backspace': 'native!'
  'up': 'native!'
  'down': 'native!'
  'left': 'native!'
  'right': 'native!'
  'ctrl-c': 'native!'
  'ctrl-v': 'native!'
  'ctrl-x': 'native!'
